@keyframes shake {
    0%, 100% {
        transform: scale3d(1, 1, 1);
    }
    10%, 50%, 90% {
        transform: 
            scale3d(.9, .9, .9)
            rotate3d(0, 0, 1, 5deg);
    }
    20%, 40%, 60%, 80% {
        transform: scale3d(.9, .9, .9)
    }
    30%, 70% {
        transform: 
            scale3d(.9, .9, .9)
            rotate3d(0, 0, 1, -5deg);
    }
}

.custom-brand:hover {
    animation: shake 0.6s;
    transform-origin: center;
}