body {
	background: repeating-radial-gradient(#E24BC0, #FFB9F9, #FF9B9B);
	background: -o-repeating-radial-gradient(#E24BC0, #FFB9F9, #FF9B9B);
	background: -webkit-repeating-radial-gradient(#E24BC0, #FFB9F9, #FF9B9B);
	background: -moz-repeating-radial-gradient(#E24BC0, #FFB9F9, #FF9B9B);
}
/* navigation bar styles*/

.custom-navbar {
	background-color: #E24BC0;
}
.custom-brand {
	padding: 5px;
	height: 40px;
}
.custom-brand img {
	height: inherit;
}
.navbar-listitem {
	color: #FFF9EB;
	font-weight: bolder;
}
.navbar-listitem:hover, .navbar-listitem:focus {
	background-color: #ED82E1 !important;
	color: rgb(109, 2, 4);
}
.navbar-cta {
	background-color: #FFC0CB; 
	border-color: #8B0000;
	font-weight: bolder;
}
.food-dropdown {
	width: 100%;
	min-width: 0;
}
.food-dropdown > li > {
	width: 100%;
}
.food-dropdown > li > a {
	white-space: pre-line;
}
/* Food list styles */

.food-items {
	max-width: 800px;
}
.food-card {
	background: #FFB6E1;
	margin-bottom: 30px;
	min-height: 160px;
	border: 2px solid #660000;
}
.food-button {
	background: #BD16BB;
	border-radius: 7px;
	border: 0;
	color: #ffffff;
	width: 140px;
	height: 50px;
	display: inline-block;
	padding-top: 10%;
	cursor: pointer;
} 
.food-button:hover {
	background: #D25DD0;
	color: #FFFCE7;
	text-decoration: unset;
}
.time {
	color: #C5274F;
	font-weight: bold;
}  
.description {
	color: #FFD938;
	font-weight: bold;
}
  
.panel-body {
	display: table;
	padding: 0;
}  
.photo {
	float: left;
	margin-right: 30px;
	max-width: 200px;
	overflow-x: hidden;
} 
.food-info {
	display: table-cell;
	vertical-align: middle;
  }
  
.food-info h3 {
	margin: 10px 0;
	font-weight: bolder;
}
  
.food-info h3 a {
	color: #EF0EBA;
}
  
.food-info td:last-child {
	padding: 0 20px;
	text-align: center;
}
  
.food-info, .food-info tbody, .food-info tr, .food-info td {
	width: 100%;
}
  
.food-info tbody {
	display: inline-block;
}
 