/* navigation bar styles*/

.custom-navbar {
	background-color: #EF133F;
}
.custom-brand {
	padding: 5px;
	height: 40px;
}
.custom-brand img {
	height: inherit;
}
.navbar-listitem {
	color: #F9F9A4;
}
.navbar-listitem:hover {
	background-color: #FFC0CB !important;
	color: #8B0000;
}
.navbar-cta {
	background-color: #FFC0CB; 
	border-color: #8B0000;
	font-weight: bolder;
}
/* Food list styles */

.food-list {	
	list-style: none;	
	border: 2px solid #660000;
}
.food-list{
	background-color: #CD6C8B;
}
.food-list-name {
	font-size: 28px;
	line-height: 50px;
}
.food-list-img {
	vertical-align: bottom;
	width: 150px;
}

/* This section is for new card style */
.card {
	background: #44464c;
	margin-bottom: 30px;
	min-height: 160px;
  }
  .button {
	background: #fd79fc;
	border-radius: 3px;
	border: 0;
	color: #ffffff;
	width: 120px;
  }
  
.date, .price {
	color: #9397d8;
  }
  
  .description {
	color: #66d9f7;
  }
  
  .panel-body {
	display: table;
	padding: 0;
  }
  
  .photo {
	float: left;
	margin-right: 30px;
	max-width: 200px;
	overflow-x: hidden;
	
  }
  
  .price {
	margin: 0;
	font-size: 18px;
	text-align: center;
	width: 120px;
  }
  
  .race-info {
	display: table-cell;
	vertical-align: middle;
  }
  
  .race-info h3 {
	margin: 0 0;
  }
  
  .race-info h3 a {
	color: white;
  }
  
  .race-info td:last-child {
	padding: 0 20px;
	text-align: center;
  }
  
  .race-info, .race-info tbody, .race-info tr, .race-info td {
	width: 100%;
  }
  
  .race-info tbody {
	display: inline-block;
  }
  .food-items {
	max-width: 800px;
  }